.flash_error {
    width:1133px;
    text-align: right;
    background-color: #fbc9c9;
    color: #ab3636;
    border: 1px solid #e1a1a1;
    padding: 5px;
}

.flash_success {
    width:1133px;
    text-align: right;
    background-color: #dbf6ce;
    color: #54853d;
    border: 1px solid #a9c999;
    padding: 5px;
}

.flash_notice {
    width:1133px;
    text-align: right;
    background-color: #fffdcf;
    color: #9d9a5b;
    border: 1px solid #d6d4a1;
    padding: 5px;
}

.form{
     margin-right: 10px;
     padding : 10px 10px 10px 0px;
}

.label{
    width: 100px;
    float: left;
}

.setting_label{
    width: 200px;
    float: left;  
}

body {
/*    font:.75em Arial, Sans-Serif;
    color:#272727;
    line-height:1.8em;
    background:#fff;*/
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/bg.png") repeat-x scroll 0 0 #241912;
    border-color: #C3CC9E -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 6px 0 0;
    color: #82725F;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 90%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

#wrapper {
    width:1140px;
     /*   background:#fff;*/ 
    margin:0 auto 10px;
    padding:20px;
}

#header {
    height:110px;
    float: left;
    margin: 0;
    padding: 20px 0 5px;
    width: 100%;
}

#form_header {
    width:500px;
    border:1px solid #E5E5E5;
/*    background-color: #FAFAFA;*/
    padding:10px;
    margin: 10px;
}

#logo {
/*    margin-top: 5px;
    float: left;
    color: gray;
    line-height: 25px;
    padding-top: 10px;*/
    float: left;
    padding: 0;
    margin: 0;
    background:url(../images/logo.png) no-repeat; 
    width:267px; 
    height:82px;
}

#logo h1 {
    font-size:2.4em;
    letter-spacing:-1px;
    margin:30px 0 0;
}

#top {
    float:right;
    text-align:right;
    width:70%;
}

#topmenu {
    height:35px;
    clear:both;
    margin:5px 0 -5px;
    padding:10px 0 0;
}

#topmenu li {
    font-size:1em;
    display:inline;
}

#topmenu li a {
    color:gray;
    margin:0 15px;
}

#topmenu li a:hover {
    color:#F74600;
}

#search {
    float:right;
    clear:both;
    text-align:right;
    border-top:1px solid #ccc;
    margin:0;
    padding:10px 0 0;
}

a {
    color: #007cb7;
}

#banner{
    /*background: #007cb7;*/
    padding:10px;
    width:1125px;
    color:#fff;
    font-size:1em;
    border-bottom: 1px solid #36261C;
}

#section1{
    border:1px solid #c3c3c3;
    width:500px;
    height:250px;
    margin-top:25px;
}

.submenu{
     float: right;
     width: 355px;
}

.section2{
    border:1px solid #c3c3c3;
    width:500px;
    height:100px;
}

#categories{
    float:left;
    padding-bottom:1em;
}

#new_posts{
    float:right;
    margin-right:200px;
}

#footer{
    /*width: 800px;*/
    min-width: 800px;
    text-align: center;
    /*color: #595959;*/
    color: #716258;
 /*   background: #F7F7F7;*/
    width: 1125px;
    /*margin-left:150px;    */
    padding-bottom: 20px;
    padding-top: 45px;
}

#latest_posts{
    min-height: 450px;
    min-width: 500px;
}

#banner a{
    color: #FFF;
}

.section_subclass{
    margin-left:30px;
}

.content_not_found{
    color: #ff0000;
}

.wysiwyg{
    margin-left:100px;
}

.menuWrap
{
    text-align: right;
    margin: 50px 0 0 0;
    float: right;
}
.ie6 .menuWrap
{
    text-align: right;
    margin: 0px; padding:0px; 
    float:left; position:relative; top:50px; 
}

.menu
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.menu li 
{
    margin: 0;
    padding: 0;
    display: inline;
}

.menu a 
{
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 5px 15px 11px 15px;
    text-decoration: none;
    color: #a5b67e;
}
.ie6 .menu a 
{
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 0px 15px 11px 15px;
    text-decoration: none;
    color: #a5b67e;font-size:14px;
}
.menu a:hover 
{
    display: block;
    float: left;
    padding: 5px 15px 11px 15px;
    text-decoration: none;
    color: #fff;
}
.ie6 .menu a:hover 
{
    display: block;
    float: left;
    padding: 0px 15px 11px 15px;
    text-decoration: none;
    color: #fff;font-size:14px;
}

.menu .current 
{
    background: url("../images/arrow_down.gif") no-repeat center bottom;
    display: block;
    float: left;
    position: relative;
}

.menu .current span a 
{
    background: url("../images/nav_left_bg.gif") no-repeat left top;
    color: #1e140e;
}

.menu .current  span 
{
    background: url("../images/nav_right_bg.gif") no-repeat right top;
    display: block;
    float: left;
}

h3 {
    color: #fff;
}

#content a:hover, #content a:active, #content a {
    text-decoration: none;
    color: #85AE1D;
}

#content {
    width: 45%;
    float: right;
    padding-top: 100px;
}

#latest_posts a:hover, #latest_posts a:active, #latest_posts a {
    text-decoration: none;
    color: #85AE1D;
}

 #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6
{
    color: #fff;
    padding-top: 10px;
    margin: 0;
}

#wrapper h2
{
    font-size: 130%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#wrapper h3
{
    color: #eee;
    font-size: 110%;
}

#wrapper h4
{
    font-size: 100%;
}

#content a:hover, #content a:active, #content a {
    text-decoration: none;
    color: #85AE1D;
}

#content {
    width: 45%;
    float: right;
    padding-top: 100px;
}

#latest_posts a:hover, #latest_posts a:active, #latest_posts a {
    text-decoration: none;
    color: #85AE1D;
}

#footer a:hover, #footer a:active, #footer a {
    text-decoration: none;
    color: #85AE1D;
}