
.flash_error {
    width:1133px;
    text-align: center;
    background-color: #fbc9c9;
    color: #ab3636;
    border: 1px solid #e1a1a1;
    padding: 5px;
}

.flash_success {
    width:1133px;
    text-align: center;
    background-color: #dbf6ce;
    color: #54853d;
    border: 1px solid #a9c999;
    padding: 5px;
}

.flash_notice {
    width:1133px;
    text-align: center;
    background-color: #fffdcf;
    color: #9d9a5b;
    border: 1px solid #d6d4a1;
    padding: 5px;
}

.form{
     margin-right: 10px;
     padding : 10px 10px 10px 0px;
}

.label{
    width: 100px;
    float: left;
}

.setting_label{
    width: 200px;
    float: left; 
}

body {
    background: #241912;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-top: 6px solid #C3CC9E;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
    line-height: 1.4em;
    font-size: 90%;
    color: #82725f;
}

#wrapper {
    width:1000px;
    margin:0 auto 10px;
    padding:20px;
}

#header {
    height:110px;
    margin: 0;
    padding: 20px 0 5px;
    width: 100%;
    border-bottom: 1px solid #100B08;
}

#form_header {
    width:500px;
    border:1px solid #E5E5E5;
    padding:10px;
    margin: 10px;
}

#logo {
    float: left;
    padding: 0;
    margin: 0;
    background:url(../images/logo.png) no-repeat;
    width:267px;
    height:82px;
}

#logo h1 {
    font-size:2.4em;
    letter-spacing:-1px;
    margin:30px 0 0;
}

#top {
    float:right;
    text-align:right;
    width:70%;
}

#topmenu {
    height:35px;
    clear:both;
    margin:5px 0 -5px;
    padding:10px 0 0;
}

#topmenu li {
    font-size:1em;
    display:inline;
}

#topmenu li a {
    color:gray;
    margin:0 15px;
}

#topmenu li a:hover {
    color:#F74600;
}

a {
    color: #007cb7;
}

#banner{
    padding:10px;
    color:#fff;
    font-size:1em;
    border-bottom: 1px solid #36261C;
}

#section1{
    border:1px solid #c3c3c3;
    width:500px;
    height:250px;
    margin-top:25px;
}

.submenu{
     float: right;
     width: 355px;
}

.section2{
    border:1px solid #c3c3c3;
    width:500px;
    height:100px;
}

#footer{
    min-width: 800px;
    text-align: center;
    color: #716258;
    padding-bottom: 20px;
    padding-top: 45px;
}

#content{
    min-height: 600px;
    min-width: 500px;
    border-top: 1px solid #36261C;
}

#banner a{
    color: #FFF;
}

.section_subclass{
    margin-left:30px;
}

.content_not_found{
    color: #ff0000;
}

.menuWrap
{
    text-align: right;
    margin: 50px 0 0 0;
    float: right;
}
.ie6 .menuWrap
{
    text-align: right;
    margin: 0px; padding:0px;
    float:left; position:relative; top:50px;
}

.menu
{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.menu li
{
    margin: 0;
    padding: 0;
    display: inline;
}

.menu a
{
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 5px 15px 11px 15px;
    text-decoration: none;
    color: #a5b67e;
}
.ie6 .menu a
{
    display: block;
    float: left;
    text-transform: uppercase;
    padding: 0px 15px 11px 15px;
    text-decoration: none;
    color: #a5b67e;font-size:14px;
}
.menu a:hover
{
    display: block;
    float: left;
    padding: 5px 15px 11px 15px;
    text-decoration: none;
    color: #fff;
}
.ie6 .menu a:hover
{
    display: block;
    float: left;
    padding: 0px 15px 11px 15px;
    text-decoration: none;
    color: #fff;font-size:14px;
}

.menu .current
{
    background: url("../images/arrow_down.gif") no-repeat center bottom;
    display: block;
    float: left;
    position: relative;
}

.menu .current span a
{
    background: url("../images/nav_left_bg.gif") no-repeat left top;
    color: #1e140e;
}

.menu .current  span
{
    background: url("../images/nav_right_bg.gif") no-repeat right top;
    display: block;
    float: left;
}

h3 {
    color: #fff;
}

 #wrapper h2, #wrapper h3, #wrapper h4, #wrapper h5, #wrapper h6
{
    color: #fff;
    padding-top: 10px;
    margin: 0;
}

#wrapper h2
{
    font-size: 130%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#wrapper h3
{
    color: #eee;
    font-size: 110%;
}

#wrapper h4
{
    font-size: 100%;
}

#content a:hover, #content a:active, #content a {
    text-decoration: none;
    color: #85AE1D;
}

#footer a:hover, #footer a:active, #footer a {
    text-decoration: none;
    color: #85AE1D;
}

.formHeader{
  padding:10px;  
}

#featuredworks
{
  padding: 0;
  margin: 0;
  float: left;
}

#featuredworks .work h3, #featuredworks .worklast h3
{
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 10px 0 0;
}

.work h3 a, .worklast h3 a
{
  color: #fff;
  font-size: 110%;
  text-decoration: none;
}

.work, .worklast
{
  text-align: center;
}


#featuredworks .work p, #featuredworks .worklast p
{
  padding: 0;
  margin: 0;
}

#featuredworks .work
{
  float: left;
  width: 230px;
  padding: 10px 10px;
  margin-right: 25px;
}
.ie6 #featuredworks .work
{
  float: left;
  width: 230px;
  padding: 10px 10px;
  margin-right: 10px;
}

#featuredworks .work img, #featuredworks .worklast img
{
  border: 0;
}

#featuredworks .worklast
{
  float: right;
  width: 230px;
  padding: 10px 10px;
}

.imageBox
{
  width: 200px;
  height: 179px;
  background: url("../images/image_bg.gif") no-repeat;
  margin: 0;
  padding: 0;
}

.imageBox img
{
  margin: 0;
  padding: 30px;
}

.imageBoxLeft
{
  float: left;
  margin: 0 20px 20px 0;
}

.imageBoxRight
{
  float: right;
  margin: 0 0 20px 20px;
}

.imageBox .Info
{
  padding: 40px 0 0 0;
}

#testimonial
{
    float: left;
    width: 350px;
}

.normalBlock #news
{
    float: right;
    width: 400px;
    padding: 0;
    margin: 0;
}

.normalBlock #news #newsItem
{
    padding: 10px 0 0 0;
    margin: 0;
    list-style: none;
}

.normalBlock #news #newsItem li
{
    padding: 0 0 20px 0;
    margin: 0;
    list-style: none;
}

.block
{
    display: block;
}

.checkList .check
{
    padding: 10px 0 10px 0;
    margin: 0;
}

.checkList .check li
{
    background: url("../images/check.gif") no-repeat left 50%;
    line-height: 1.6em;
    padding-left: 20px;
    list-style: none;
}

blockquote p.first
{
    color: #716258;
    font-family: Georgia, "Times New Roman", Times, serif;
    background: url("../images/left_quote.gif") no-repeat left 0;
    text-indent: 20px;
}

blockquote p .last
{
    background: url("../images/right_quote.gif") no-repeat right 0;
    padding-right: 20px;
}

.wysiwyg{
    margin-left:100px;
}

.newsWrapper
{
  margin-bottom: 20px;
}

.newsHeader
{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 110%;
}

.newsFooter
{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #716258;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
