<div id="featuredworks">
	<div class="work">
		<h3>Consulting</h3>
		<div class="imageBox imageBoxLeft">
			<a href="#"><img src="images/consulting.jpg" alt="Consulting" /></a>
        	</div>
	</div>
	<div class="work">
		<h3>Development</h3>
		<div class="imageBox imageBoxLeft">
			<a href="#"><img src="images/development.jpg" alt="Development" /></a>
		</div>
	</div>
	<div class="worklast">
		<h3>Outsourcing</h3>
		<div class="imageBox imageBoxLeft">
			<a href="#"><img src="images/outsource.jpg" alt="Outsource" /></a>
		</div>
	</div>
</div>
<% unless @article.blank? %>
	<h3><%= @article.title %></h3>
	<span><%= @article.body_part.html_safe %></span>
	<p style="padding:10px"><strong>Created At: </strong><%= @article.created_at.strftime("%B %d %Y %H:%m %p") %></p>
<% else %>
	<p class="content_not_found">No Article found</p>
<% end %>