<h3>Testimonial</h3>
<blockquote>
  <p class="first"><%= @testimonial.quotes %><span class="last"></span></p>
  <p><cite>-- <%= @testimonial.name %>, <%= @testimonial.position %> , <%= @testimonial.company %> </cite></p>
</blockquote>