<div class="inside">
  <h2>ABOUT US</h2>

  <div class="imageBox imageBoxRight">
    <img src="/images/about.jpg" alt="About Us"/>
  </div>
  <h3>Overview</h3>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam pulvinar facilisis dolor. Quisque felis urna,
    tincidunt ut, pretium nec, volutpat eu, nibh. Phasellus dignissim turpis at ligula. Sed in libero. Nulla facilisi.
    Duis in justo. <a href="#">Quisque sagittis</a>. Etiam tempus nibh vel enim. Fusce enim. Integer scelerisque, justo
    id auctor suscipit, elit lectus gravida lorem, in sagittis leo tortor sed orci. Cras a ipsum ut pede porta sodales.
  </p>

  <h3>Mantra</h3>

<blockquote>
  <p class="first">Simplicity is the ultimate <span class="last">sophistication.</span> <cite title= "Albert Eienstien">- Albert Eienstien </cite>
  </p>
</blockquote>

  <h3>Mission</h3>

  <p>Simplify IT (Information Technology)</p>

  <h3>Vision</h3>

  <p>To become a globally recognized company specializing in simple, agile and elegant softwares.</p>

  <h3>Values</h3>

  <div class="checkList">
    <ul class="check">
      <li>Favor the simplest possible solution</li>
      <li>Innovate everyday</li>
      <li>Choose the right tool for the right job</li>
      <li>Customer success matters the most</li>
      <li>Be transparent in all customer dealings</li>
      <li>Incubate passionate, zestful and committed employees</li>
      <li>Encourage fun and positive work environment</li>
    </ul>
  </div>
</div>
