<h2>Services</h2>
<div class="imageBox imageBoxRight">
  <img src="/images/services.jpg" alt="Services"/>
</div>
<h3>Consulting</h3>
<div class="checkList">
  <ul class="check">
    <li>Agile development process</li>
    <li>Scrum Methodology</li>
    <li>Rich clients</li>
    <li>Linux</li>
    <li>Distributed applications</li>
    <li>Semantic Web</li>
  </ul>
</div>
<h3>Development</h3>
<div class="checkList">
  <ul class="check">
    <li>Web based applications</li>
    <li>Rich clients</li>
    <li>Semantic applications</li>
    <li>Multi platform GUI applications</li>
    <li>Custom linux distribution/appliances</li>
    <li>Application prototyping/proof of concepts</li>
  </ul>
</div>
<h3>Outsourcing</h3>
<div class="checkList">
  <ul class="check">
    <li>Favor the simplest possible solution</li>
    <li>Innovate everyday</li>
    <li>Choose the right tool for the right job</li>
    <li>Customer success matters the most</li>
    <li>Be transparent in all customer dealings</li>
    <li>Incubate passionate, zestful and committed employees</li>
    <li>Encourage fun and positive work environment</li>
  </ul>
</div>