<%= @white_paper.name %>
<% path = "/data/" + @white_paper.filename %>
<h3>White Papers</h3>
<div class="checkList">
  <ul class="check">
    <li><%= link_to @white_paper.name, path, :target => "_blank" %></li>
  </ul>
</div>
